GROQ_API_KEY="Groq_API_Key_Here"

# Speech Provider Toggle: "whisper" ya "bhashini"
STT_PROVIDER=whisper

# Bhashini Configs (Pending Approval - keys aate hi yahan paste karein)
BHASHINI_USER_ID=
BHASHINI_API_KEY=
BHASHINI_PIPELINE_ID=