# Database Configuration (Leave empty to use local SQLite database)
DATABASE_URL=

# AI Model Keys
GEMINI_API_KEY=
GROQ_API_KEY=

# Speech-To-Text Provider ("whisper" or "bhashini")
STT_PROVIDER=whisper

# Bhashini Credentials (Optional)
BHASHINI_USER_ID=
BHASHINI_API_KEY=
BHASHINI_PIPELINE_ID=