# Database Configuration (Leave empty to use local SQLite database)
DATABASE_URL=

# AI Model Keys
GEMINI_API_KEY=
GROQ_API_KEY=

# Speech-To-Text Provider ("whisper" or "bhashini")
STT_PROVIDER=whisper

# Bhashini Indic AI Credentials (Matches your Bhashini Dashboard)
BHASHINI_USER_ID=
BHASHINI_UDYAT_KEY=
BHASHINI_INFERENCE_KEY=